@font-face {
    font-family: "IBMPlexSans";
    src: url(../fonts/IBMPlexSans-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "IBMPlexSans";
    src: url(../fonts/IBMPlexSans-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "NotoSans";
    src: url(../fonts/NotoSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: "NotoSans";
    src: url(../fonts/NotoSans-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: "NotoSans";
    src: url(../fonts/NotoSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

