h1 {
    color: darkred;
}
h1+p{
    color: brown;
}

h2~ p {
    color: blue;
}

li {
    color: chocolate;
}


a {
    color: rgb(0, 0, 0);
}
.text,.item{
color: chartreuse;
}
ul>li{
    color: aqua;
}
#top{
    color: darkorange;
}
[class*="con"]{
    color: crimson;
}