body {
    font-family: "DM Sans", sans-serif;

}

.container {
    padding-block: 20px;
}

.agrolink {
    max-width: 504px;
    padding-inline: 15px;
    margin: 0 auto;
}

.agrolink__title {
    color: #131313;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.256px;
    margin-bottom: 20px;
}

.agrolink__title::before {
    display: block;
    content: "";
    width: 36%;
    height: 4px;
    background: linear-gradient(90.00deg, rgba(18.3, 255, 70.38, 1), rgba(0, 0, 0, 1) 94.964%);
    margin-bottom: 17px;
}
span{
color: #1AAF5B;
font-size: 50px;
font-weight: 700;
letter-spacing: -1.256px;
}
.agrolink__text{
color: #000;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.503px;
margin-bottom:58px ;
}


.agrolink__btn {
  padding: 25px 40px 23px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: rgba(26, 175, 91, 1);
  border-radius: 0px 18px 0px 0px;

}
.agrolink__btn:hover{
    box-shadow: 0px 0px 10px 0px black;
}
.agrolink__btn:active{
background-color: cornflowerblue;

}
.agrolink__btn::after {
  content: "";
  width: 20px;
  height: 10px;
  background: url("../img/keyboard-arrow-right.svg") 0 0 / contain no-repeat;
  margin-inline-start: 15px;
  display:inline-block ;
}
                       /*    game       */


.game__container {
	background-color: rgb(208, 196, 255);
	max-width: 700px;
	height: 500px;
	margin-inline: auto;
}
.game__start {
	width: 50px;
	height: 50px;
	background-color: rgb(128, 17, 0);
}
.game__step1 {
	width: 150px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -40px;
	margin-left: 50px;
}
.game__step2 {
	width: 30px;
	height: 80px;
	background-color: rgb(2, 165, 2);
	margin-top: 0px;
	margin-left: 170px;
}
.game__step3 {
	width: 130px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -30px;
	margin-left: 40px;
}
.game__step4 {
	width: 30px;
	height: 120px;
	background-color: rgb(2, 165, 2);
	margin-top: 0px;
	margin-left: 40px;
}
.game__step5 {
	width: 250px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -30px;
	margin-left: 70px;
}
.game__step6 {
	width: 30px;
	height: 200px;
	background-color: rgb(2, 165, 2);
	margin-top: -230px;
	margin-left: 290px;
}
.game__step7 {
	width: 300px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -200px;
	margin-left: 320px;
}
.game__step8 {
	width: 30px;
	height: 400px;
	background-color: rgb(2, 165, 2);
	margin-top: 0px;
	margin-left: 590px;
}
.game__step9 {
	width: 80px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -30px;
	margin-left: 510px;
}
.game__step10 {
	width: 30px;
	height: 350px;
	background-color: rgb(2, 165, 2);
	margin-top: -380px;
	margin-left: 510px;
}
.game__step11 {
	width: 170px;
	height: 30px;
	background-color: rgb(2, 165, 2);
	margin-top: -350px;
	margin-left: 340px;
}
.game__step12 {
	width: 30px;
	height: 360px;
	background-color: rgb(2, 165, 2);
	margin-top: 0px;
	margin-left: 340px;
}
.game__finish {
	width: 50px;
	height: 50px;
	background-color: rgb(0, 30, 255);
	margin-left: 330px;
	margin-top: 0px;
}
.hidden, .game__finish {
	visibility: hidden;
}

.visible:hover + .visible, .visible:hover {
	visibility: visible;
}