body {
    font-family: "DM Sans", sans-serif;

}
.container{
	padding: 20px;
}
footer p{
	text-align: center;
}
header p { display: block;
	text-transform: uppercase;
	color: darkred;
	text-align: center;
	font-size:30px ;
	text-shadow: 2px 3px 5px #877979;
}
img{
	vertical-align: middle;
	border-radius: 10px;
	padding:10px ;
}
.content-img span {
	vertical-align:middle;
    font-size: 25px;

	
}

.item{
	font-size: 20px;
	color: blue;
}
.item:first-child::before {
    content:'' ;
    display: inline-block;
    background-image: url(../img/mdi_account-alert-outline.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}


.item:nth-child(2)::before {
    content: '';
    display: inline-block;
    background-image: url(../img/ant-design_shopping-cart-outlined.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}

.item:nth-child(3)::before {
    content: '';
    display: inline-block;
    background-image: url(../img/akar-icons_search.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}
.content-block p{
	color: brown;
	font-size:20px ;
}