body{
    font-family:"Poppins", sans-serif  ;
   
}

span{
color: #1AAF5B;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.3px;
}
.grown{
color: #131313;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.3px; 
margin-bottom: 20px;
}
.nature{
width: 460px;
color: #000;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.5px;
opacity:0.6 ;
text-decoration: none;
}
.GrownbyNature{
    padding: 20px;
}

h2{
    font-size: 20px;
    color: #1AAF5B;
}
p{
    color: brown;
}

/* Discover Our New Collection */

.container{
    background:rgba(255, 243, 227, 1) ;
    width: 643px; 
    border-radius: 10px;
    padding: 62px 56px 37px 39px;
}

.newarrival {
    font-size: 16px;
    font-weight: 600;
    letter-spacing:  3px; 
    color:rgba(51, 51, 51, 1) ;
    margin-bottom: 4px;

}
.name{
    width:559px ;
    margin-bottom: 17px ;
}
.discover {
    display: block;
    color: rgba(184, 142, 47, 1) ;
    font-size:52px ;
    font-weight:700 ;
    line-height:65px ;
     margin-bottom: 14px;
}
.collection {
  display: block;  
  color: rgba(184, 142, 47, 1) ;
  font-size:52px ;
  font-weight:700 ;
  line-height:65px ;
}
.text {
    display: block;
    color:rgba(51, 51, 51, 1) ;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom:46px ;
}
.buynow {
    background-color:rgba(184, 142, 47, 1) ;
    width: 222px;
    height: 74px;
    margin-bottom: 20px;
}
.buy{
 display: block;    
 color: rgba(255, 255, 255, 1);
 font-size: 16px;
 font-weight: 700;
 text-transform: uppercase;
 padding: 25px 72px ;

}